<!DOCTYPE html>
<html>

<head>
  <title>LaughBro</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
  <h1>Let's see a joke</h1>
  <div class="card">
    <p>
      <%= joke %>
    </p>
  </div>
  <p class="user">
    Category: <%= cat %>
  </p>
  <button class="get-joke">Get Joke</button>
<script>
  document.querySelector('.get-joke').addEventListener('click', function() {
  fetch('/joke')
    .then(response => response.json())
    .then(data => {
      document.querySelector('.card p').textContent = data.joke;
      document.querySelector('.user').textContent = `Category: ${data.cat}`;
    })
    .catch(error => console.error('Error fetching joke:', error));
  });
</script>
</body>

</html>